$white: #fff;
$black: #000;
$fundo: #2c2b2c;

.size{ 
    height: 100vh;
    width: 100%;
}
.back-cor-esquerda{
    background-color: $fundo;
}

.back-cor-direita{
    background-color: $white;
}

.ss{
    color: $white;
}
.inserção{
    width: 100%;
    height:70%;
    text-align: center;
    padding: 25%;
    display: inline-block;
    font-size: 5rem;
}

.projetos2{
    font-size: 5.5rem;
    height: 30%;
    width: 50%;
    text-align: center;
    border-right: 1px solid;
}

.small{
    font-size: 2rem;
    margin-top: 0;
}
.details{
    margin-top: 20%;
    margin-left: 5%;
    margin-right: 5%;
}

.details1{
    margin-top: 2%;
    margin-right: 5%;
    margin-left: 5%;
}
.details2{
    margin-top: 2%;
    margin-right: 5%;
    margin-left: 6%;
}
.documentos2{
    height: 30%;
    width: 50%;
    text-align: center;
    font-size: 5.5rem;
}
.selec{
    background-color: #2c2b2c;
    color: #fff;
}

.button{
    background-color: #2c2b2c;
    color: #fff;
    border-style: none;
    height: 5%;
    width: 20%;
    float: right;
    margin-right: 6%;
    margin-top: 5%;
    transition: 0.6s;
}

.button:hover{
    background-color: $white;
    color: $fundo;
}

.clas{
    min-height: 100vh;
}
.mmenu{
}


