
/*Lado Esquerdo*/
$background-esquerda: #2c2b2c;
$color-p-projetos: #fff;

/*Lado Direito*/
$background-direita: #fff;
$color-p-documentos: #2c2b2c;

//deseja realmente excluir este documento?
.descdoc{
    font-size: 13px;
    display: none;
}

.btndcor{
    background-image: url('../imagens/projetos/correto.png');
    background-size: 25px;
    background-repeat: no-repeat;
}
.btndinc{
    background-image: url('../imagens/projetos/incorreto.png');
    background-size: 20px;
    background-repeat: no-repeat;
}
.btns{
    outline: none;
    background-color: rgba(0, 0, 0, 0.0);
    height: 20px;
    justify-content: center;
    text-align: center;
    border: none;
    width: 25px;
    margin-top: 15px;
}
.noo-margin{
    margin-right: 0px !important;
}

.jcc{
    justify-content: center;
}

//loader
.loadercards{
    width: 100px;
    height: 100px;
    background-size: 100%;
    transform: rotate(-15deg);
    -webkit-animation: rodaroda 3s linear alternate 3;
    -moz-animation: rodaroda 3.0s linear infinite;
    -ms-animation: rodaroda 3.0s linear infinite;
    -o-animation: rodaroda 3.0s linear infinite;
    animation: rodaroda 3.0s linear infinite;
  }

  @-webkit-keyframes rodaroda {
      0% { -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -o-transform:rotate(0deg); transform:rotate(0deg); }
      50% { -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg); }
      100% { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360deg); }
  }
  @-moz-keyframes rodaroda {
      0% { -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -o-transform:rotate(0deg); transform:rotate(0deg); }
      50% { -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg); }
      100% { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360deg); }
  }
  @-ms-keyframes rodaroda {
      0% { -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -o-transform:rotate(0deg); transform:rotate(0deg); }
      50% { -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg); }
      100% { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360deg); }
  }
  @-o-keyframes rodaroda {
      0% { -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -o-transform:rotate(0deg); transform:rotate(0deg); }
      50% { -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg); }
      100% { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360deg); }
  }
  @keyframes rodaroda {
      0% { -webkit-transform:rotate(0deg); -moz-transform:rotate(0deg); -ms-transform:rotate(0deg); -o-transform:rotate(0deg); transform:rotate(0deg); }
      50% { -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); -ms-transform:rotate(180deg); -o-transform:rotate(180deg); transform:rotate(180deg); }
      100% { -webkit-transform:rotate(360deg); -moz-transform:rotate(360deg); -ms-transform:rotate(360deg); -o-transform:rotate(360deg); transform:rotate(360deg); }
  }

#cardsloader{
    background-image: url("../imagens/projetos/loader.png");
}
#tproj{
    background-image: url("../imagens/projetos/loader-branco.png");
}
.desc::-webkit-scrollbar {
    width: 0px;
}
.slide::-webkit-scrollbar {
    width: 0px; }


#forceScroll, #forceScrolll{
    position: absolute;
    height: 1px;
    width: 1px;
    margin-top: 100vh;
}

.testetela{
    transition: 0.2s;
    z-index:9;
    width: 100vw;
    height: 100vh;
    margin-top:100vh;
    background-color: white;
    position: absolute;
}


body{
    height: 200vh;
}

.no-margin {
    margin-right: 0px !important; 
    margin-left: 0px !important;
}

.mark-r{
    display: none !important;
    margin-top: -25px;
    z-index: 1;
}
.descricao-t{
    padding-left: 6px;
    width: 90%;
    min-height: 100px;
    max-height: 100px;
    transition: 0.5s;
    border: 3px solid rgba(0, 0, 0, 0.100);
    border-radius: 6px;
}
.descricao-t:focus{
    outline: none;
    border: 2px solid black;
}
.descricao-t:hover{
    transition: 0.5s;
    border: 2px solid black;
}
.pai {
    overflow-y: hidden;
    overflow-x: hidden;
    scroll-behavior: smooth; 
    &.change {
        overflow-x: hidden;
        overflow-y: scroll;
    }
}
.submit-lente:focus{
    outline: none;
}

#flexis{
    flex-direction: column-reverse;
    display: flex;
    transition: 0.5s ease all;
    &.vazio{
        display: none;
    }
}

.key{
    display: none;
}


/*Lado Esquerdo*/
.esquerda:hover {
  z-index: 0;
}
.esquerda {
    justify-content: center;
    width: 50vw;
    height: 100vh;
    background-color: $background-esquerda;
    position: absolute;
    z-index: 4;
    transition: all 0.5s ease;

    &.cheio{
        width: 100vw;
        height: 100vh;
        background-color: $background-esquerda;;
        position: absolute; 
        z-index: 4;
    }
    &.vazio{
        display: flex;
        z-index: 1;
    }
    
}
  
.p-projetos {
    z-index: 1;
    display: none;
    position: absolute;
    justify-content: flex-start;
    margin-left: 18vw;
    cursor: pointer;
    &.cheio{
        display: flex;
        cursor: default;

    }
}

.p-projetos h1 {
    text-shadow: 1px 1px 2px black;
    font-size: 60px;
    color: #fff;
    margin-top: calc(25vh - 65px);

}
  
.imagem-esquerda {
    background: url("../imagens/tela-inicial/imagem-esquerda.png") no-repeat;
    width: 100%;
    height: 100vh;
    background-position: bottom;
    background-size: 720px;
    cursor: pointer;
    position: absolute;
    background-position: left bottom;
    &.vazio{
        z-index: -10;
    }
    &.cheio{
        display:flex;
        width: 90%;
    }
}
#esquerda-fundo {
    background-color: $background-esquerda;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    &.change{
        margin-left: 0;
    }
}
#grupo-esquerda{
    width: 30%;
    display: none;
    margin-top: 47vh;
    margin-left: 57vw;
    &.cheio{
        display: flex;
    }
}

.txt-box{
    width:360px;
    box-shadow: none;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    border-radius: 1px;
    color: #fff;
    outline: none;
    max-width: 98%;
    font-size: 27px;
    text-align: center;
}
.autocomplete-items {
    width: 360px;
}
.txt-box::placeholder{
  color: white;
}
.submit-line{
  max-width: 100%;
}
.submit-lente{
  outline: none;
  background-color: rgba(0, 0, 0, 0.000);
  border: none;
  margin-left: -35px;
  height: 50px;
}
.lupa-branca{
  margin-top: -15px;
}
.botao-direita{
  margin-top: -15px;
}

#botao-esquerda{
    background-color: transparent;
    border:  0;
    border-bottom: 1px solid #fff;
    border-radius: 1px;
}

  
.hover-esquerda:hover .hover-img-esquerda {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: .5s ease all; 
}
    
.hover-esquerda:hover .p-projetos {
    display: flex;
    z-index: 2; 
}
  
  /*Lado Direito*/
.direita:hover {
  z-index: 0;
}
.direita {
    width: 50vw;
    height: 100vh;
    background-color: $background-direita;
    position: absolute; 
    margin-left: 50%;
    z-index: 4;
    transition: all 0.5s ease;
    &.cheio{
        width: 100vw;
        height: 100vh;
        background-color: $background-direita;
        position: absolute; 
        margin-left: 0%;
        z-index: 4;
    }
    &.vazio{
        display: flex;
        z-index: 1;
    }
}
  
.p-documentos {
    position: absolute;
    display: none;
    justify-content: center;
    width: 100%; 
    cursor: pointer;
    &.cheio{
        display: flex;
        justify-content: flex-end;
        right: 15vw;
        cursor: default;
    }
    &.vazio{
        display: none;
    }
}
  
.p-documentos h1 {
    font-size: 60px;
    color: $color-p-documentos;
    text-align: center;
    margin-top: calc(25vh - 65px);
 
}
  
.imagem-direita {
    background: url("../imagens/tela-inicial/imagem-direita.png") no-repeat;
    width: 100%;
    height: 100vh;
    background-position: right bottom;
    background-size: 690px;
    cursor: pointer;
    &.vazio{
        cursor: default; 
        display: flex;
        margin-left: calc(2vw + 4px);
    } 
    &.cheio{
        cursor: default; 
        display: flex;
    }
}
#grupo-direita{
    width: 30%;
    display: none;
    position: absolute;
    top:47vh;
    margin-left: 10vw;
    &.cheio{
        display: flex;
    }
    &.margem{
        margin-top: 50vh;
    }
}

#pesquisa-direita {
    box-shadow: none;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #2c2b2c;
    border-radius: 1px;
    color: #2c2b2c;
    text-align: center;
    font-size: 27px;
}

#pesquisa-direita::placeholder{
    color: #2c2b2c;
}
  
#botao-direita {
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #2c2b2c;
    border-radius: 1px;
    margin-top: 8px;
    width: 40px;
}
  
.hover-direita:hover .hover-img-direita {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    transition: .5s ease all; 
    z-index: -1;}
    
.hover-direita:hover .p-documentos {
    display: flex;
    z-index: 2; }


/*Tela2*/
#container-tela2 {
    display: none; }
  
.tela2 {
    position: fixed;
    height: 110vh;
    width: 100vw;
    padding-bottom: 100px;
    display: flex;
    justify-content: center; 
    margin-bottom: 70px;
    overflow-x: hidden;
    overflow-y: auto;
    align-items: center;
}


  
.arrow_l{
    position: absolute;
    left: 5vw;
    cursor: pointer;
    z-index: 2;
}
.arrow_l img{
    width: 15px;
    height: auto;
}
.arrow_r{
    position: absolute;
    right: 5vw;
    cursor: pointer;
    z-index: 2;
}
.arrow_r img{
    width: 15px;
    height: auto;
}

.sliders_documentos{
    justify-content: center;
    display: flex;
    width: 100%;
    height: 80vh;
    position: absolute;
    flex-wrap: wrap;
    margin-left: 0vw;
    transition: 0.5s ease all;
    align-items: center;
}

.sliders_projetos{
    display: flex;
    width: 100%;
    height: 120vh;
    position: absolute;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 0vw;
    transition: 0.5s ease all;
}
.sli{
    width: 340px;
    height: 330px;
    margin-bottom: 40px;
}
  
.slide {
    justify-content: center;
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    margin-left: 0vw;
    width: 85%;
    transition: 1s ease all;
    &.hide{
        margin-left: -100vw;
        display: none;
    }
}

.slide2 {
    justify-content: center;
    display: none;
    position: absolute;
    flex-wrap: wrap;
    margin-left: 0vw;
    width: 85%;
    transition: 1s ease all;
    &.hide{
        margin-left: -100vw;
        display: none;
    }
}
.slide_doc{
    justify-content: center;
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    width: 90vw;
}

  /*Tela 3*/

#container-tela3 {
    display: none;
    transition: 0.5s ease all;
    height: 100vh;
}

#tela-documentos{
    transition: 0.5s ease all;
}
  
.tela3 {
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding: 100px;
    height: 100%;
    background-color: #2c2b2c;
    transition: 0.5s ease all;
}
  
.config-doc {
    width: 100%; 
}
/*Tela 4*/
#container-tela4{
    height: 100vh;
    width: 100vw;
    background-color: #fff;

    position: absolute;
    display: none;
    transition: 0.5s ease all;
    &.cheio{
        display: flex;
    }
}

.linha-tela4{
    width:100%;
    margin-left: 0px!important;
    margin-right: 0px!important;
}

.insercao-esquerda{
    background-color: #2c2b2c;
    height: 100vh;
    width: 50%;
}

.p-insercao{
    color:#fff;
    display: flex;
    height: 52vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 75px;
}

.box-esquerda{
    color: #fff;
}

#total-p{
    height: 30vh;
    width: 27vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#total-p h1{
    font-size: 130px;
}

#p-esquerda{
    display: flex;
    align-items: center;
    justify-content: center;
}
#p-esquerda h1{
    font-size: 50px;
}
.box-direita{
    color: #fff;
    border-left: 1px solid #fff;
}

#total-d{
    height: 30vh;
    width: 27vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#total-d h1{
    font-size: 130px;
}

#p-direita{
    display: flex;
    justify-content: center;
    align-items: center;
}
#p-direita h1{
    font-size: 50px;
}

.insercao-direita{
    justify-content: center;
    width: 50%;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

/*Atualização*/

.att{
    position: absolute;
    z-index: 1;
    width: 500px;
    height: 340px;
    background: whitesmoke;
    border: 1px solid #2c2b2c;
    border-radius: 8px;
    margin-top: 10%;
    padding-top: 6px;
}

.att p{
    margin-left: 30px;
    font-size: 20px;
}
.titulo{
    display: block;
    &.hide{
        display: none;
    }
}
.edit-titulo{
    margin-top: 10px;
    margin-bottom: 23px;
}
.link{
    display: block;
    &.hide{
        display: none;
    }
}
.edit-link{
    margin-bottom: 23px;
    width: 245px;
}
.link-homo{
    display: block;
    &.hide{
        display: none;
    }
}
.edit-homo{
    margin-bottom: 23px;
    width: 245px;
}

.edit_form {
    display: block;
    margin-top: 20px;
    position: absolute;
    margin-left: 20px; 
    &.hide{
      margin-top: -320px;
    }
}
.edit-rep{
    margin-left: 40px;
    width: 205px;
    margin-top: 2px;
}

.bot_cor{
    width: 145px;
    background-color: transparent;
    border: 0;
    outline: none!important;
}
/*formulario*/
#form-insercao{
    margin-top: 90px;
    margin-left: 10%;
    display: none;
    &.show{
        display: block;
    }
}

#titulo{
    width: 90%;
    margin-bottom: 20px;
    box-shadow: none;

}

#subtitulo{
    width: 90%;
    margin-bottom: 20px;

}

#link{
    width: 90%;
    margin-bottom: 20px;

}

#link_homo{
    width: 90%;
    margin-bottom: 20px;

}

#link_bit{
    width: 90%;
    margin-bottom: 20px;

}

#url{
    width: 90%;
    margin-bottom: 20px;
}

#tipo{
    width: 90%;
    margin-bottom: 20px;
}


.botao-form{
    width: 140px;
    height: 35px;
    background: #2b2c2b;
    border: 0;
    color: white;
    font-size: 22px;
    box-shadow: none;
    outline: none;
}

.botao-form:focus{
    outline: none;
}

.troca{
    margin-left: 10%;
    height: 30px;
    width: 78%;
    background-color: #fff;
    display: flex;
    position: relative;
    top: 5%;
    border: 1px solid #2c2b2c;
    border-radius: 6px;
    cursor: pointer;
}

.t-pro{
    font-size: 20px;
    cursor: pointer;
    &.escolhido{
        color: #fff;
    }
    &.n_escolhido{
        color: #2c2b2c;
    }

}

.t-esquerda{
    width: 50%;
    position: absolute;
    display: flex;
    justify-content: center;
    height: 100%;
}

.t-doc{
    font-size: 20px; 
    cursor: pointer;
    &.escolhido{
        color: #fff;
    }
    &.n_escolhido{
        color: #2c2b2c;
    }
}

.t-direita{
    width: 50%;
    position: absolute;
    margin-left: 50%;
    display: flex;
    justify-content: center;
  }


.troca-pro{
    &.es{
        height: 100%;
        width: 50%;
        margin-left: 0;
        background-color: #2c2b2c;
        border-radius: 5px 0px 0px 5px;
        cursor: pointer;
    }
    &.di{
        height: 100%;
        width: 50%;
        margin-left: 50%;
        background-color: #2c2b2c;
        border-radius: 0px 5px 5px 0px;
        cursor: pointer;

    }
}

.troca-inv{
    height: 100%;
    position: absolute;
    width: 50%;
    display: flex;
    background-color: transparent;
    right: 0;
    &.esquerd{
        left: 0;
    }
}

#submit{
    border-radius: 2px;
}

#submit:hover{
    opacity: 0.9;
}

.tecnologia{
    height: calc(1.5em + .75rem + 2px);
    margin-bottom: 10px;
    width: 220px;
    border-radius: 4px;
    opacity: 0.8;
}

#n_foi,#foi,#n_foi_edit,#foi_edit,#n_foi_doc,#foi_doc, #doc_excluido,
#botao-direita2, #botao-esquerda2{
    display: none;
}

////Formulario documentos

#form-documentos{
    margin-top: 90px;
    margin-left: 10%;
    display: none;
    &.show{
        display: block
    }
}

.botao-form p{
    display: block;
    &.hide{
        display: none;
    }
}

/*Menu*/
.logo-unip {
    position: fixed;
    z-index: 11; 
}
  
.figura {
    width: 20vw;
    height: auto; 
    &.change-preto{
        width: 5vw;
        height: auto;
        margin: 25px;
    }
    &.change-branco{
        width: 5vw;
        height: auto;
        margin: 25px;
    }
}
  
.container a:after {
    content: '';
    position: absolute;
    background: #2c2b2c;
    height: 2px;
    width: 0%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
    transition: .35s ease; 
}
  
.container a:hover:after, .container a:focus:after, .container a:active:after {
    width: 100%; 
}
  
h1 {
    position: relative;
    text-align: center; 
}
  
.hamburguer {
    position: fixed;
    top: 5%;
    right: 2%;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    transition: opacity .25s ease; 
}
  
.hamburguer:hover {
    opacity: .7; 
}
  

.hamburguer.active .top {
    -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
    transform: translateY(11px) translateX(0) rotate(45deg);
    background-color: #fff;

}
  
.hamburguer.active .middle {
    opacity: 0;
    background: #FFF; 

}

.hamburguer.middle span{
    width: 20px;
}
  
.hamburguer.active .bottom {
    -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #FFF; 
}
  
.hamburguer span {
    background: #2c2b2c;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .35s ease;
    cursor: pointer; 
    &.change-branco {
        background: #fff; 
    }
    &.change-preto{
        background: #2c2b2c;
    }
}
  
.hamburguer span:nth-of-type(2) {
    top: 11px; 
}
  
.hamburguer span:nth-of-type(3) {
    top: 22px;
}
  
.overlay {
    position: fixed;
    background: #2c2b2c;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    z-index: 10;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden; 
    &.open{
        opacity: 1;
        visibility: visible;
        height: 100%;
        z-index: 10; 
    }
}
  
.overlay nav {
    position: relative;
    height: 70%;
    top: 60%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 50px;
    font-weight: 400;
    text-align: center; 
}
  
.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    height: 100%; 
}
  
.overlay ul li {
    display: block;
    height: 25%;
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;
    opacity: 1; 
}
  
.overlay ul li a {
    display: block;
    position: relative;
    color: #FFF;
    text-decoration: none;
    overflow: hidden; 
}
  
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
    width: 100%; 
}
  
.overlay ul li a:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 3px;
    background: #2c2b2c;
    transition: .35s; 
}
  
@-webkit-keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%; }
    100% {
      opacity: 1;
      left: 0; } 
}
  
@keyframes fadeInRight {
    0% {
      opacity: 0;
      left: 20%; }
    100% {
      opacity: 1;
      left: 0; } 
}
  
/*Projetos*/
article.carta {
    position: relative;
    left: 50%;
    top: 80%;
    left: 50%;
    width: 290px;
    height: 320px;
    -webkit-transform: translate(-50%, -50%) translateZ(0);
    transform: translate(-50%, -50%) translateZ(0);
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    margin-right: 50px;
    margin-bottom: 65px;
    overflow: hidden; 
    margin-top: -75px;
}
  
.hgt {
    height: 120%; 
}
  
.mgtop {
    margin-bottom: 50px; 
}

.logo-card{
    position: absolute;
    width: 40px;
    right: 10px;
    margin-top: -5px; 
}

.link{
    line-height: 1.3;
}

.link-homo{
    word-wrap: break-word;
    white-space: -moz-pre-wrap;
    white-space: pre-wrap;
    width: 260px;
    line-height: 1.3;
    margin-top: 15px;
}


.bit{
    position: absolute;
    width: 35px;
    margin-top: 5px;
    &.hide{
        display:none;
    }
}
.bit2{
    position: absolute;
    width: 35px;
    left: 0;
    bottom: -2px;
}

.bit-link{
    margin-left: 45px;
    margin-top: 10px;
    box-shadow: none;
    outline: none;
    width: 200px;
    height: 25px;
    font-size: 13px;
    &.hide{
        display: none;
    }
}

[type=submit]{
    -webkit-appearance: none!important;
}

article.carta .foto {
    width: 290px;
    height: 260px;
    background: url("../imagens/projetos/imgcard.jpg") no-repeat center;
    background-size: cover;
    border-radius: 3px; 
}
.foto2 img{
    width: 360px;
    margin-left: -30px;
}
  
article.carta .informacao {
    width: auto;
    height: 350px;
    position: relative;
    padding: 14px 24px;
    background: #fff;
    transition: 0.4s 0.15s cubic-bezier(0.17, 0.67, 0.5, 1.03); 
}
  
article.carta .informacao .titulo {
    position: relative;
    margin: 0px 0;
    letter-spacing: 1px;
    color: #152536;
    font-size: 1rem;
    text-shadow: 0 0 0px #32577f; 
    width: 200px;
    margin-top: 3px;
    margin-bottom: 20px;
}
article.carta .informacao .bandeira {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 35px;
    height: 40px;
    background: url("../imagens/projetos/icone.png") no-repeat top right;
    background-size: 100% auto;
    display: inline-block;
    margin-top: 3%; 
}
  
  
article.carta .informacao .link, article.carta .informacao .link-homo {
    margin-bottom: 0px;
    font-size: .85rem;
    color: rgba(21, 37, 54, 0.7); 
}
  
article.carta .informacao .link-homo {

    padding-bottom: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03); 
}
  
article.carta .informacao .texto {
    line-height: 2;
    font-size: .95rem;
    color: rgba(21, 37, 54, 0.7);
    opacity: 0;
    transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03); 
}

article.carta .informacao .detalhes {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 10px;
    padding: 0px 0px;
    letter-spacing: 1px;
    color: #4e958b;
    font-size: .9rem;
    cursor: pointer;
    opacity: 0;
    transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03); 
    margin-bottom: 45px;
} 

article.carta:hover .informacao {
    -webkit-transform: translateY(-260px);
    transform: translateY(-260px); 

}
  
article.carta:hover .informacao .link-homo, article.carta:hover .informacao .texto, article.carta:hover .informacao .detalhes {
    opacity: 1; 
}
  
.detalhes{
    display: block;
    &.hide{
        display: none;
    }
}

.fim-esc{
    display: inline-flex;
    position: absolute;
    margin-top: 100%;
    width: 290px;
    height: 30px;
    background: #2c2b2c;
}

.incorreto{
    width: 22px;
    cursor: pointer;
    height: 25px;
    margin-top: 2px;
    &.hide{
        display: none;
    }
    
}

.inc{
    width: 50%;
    display: flex;
    height: 30px;
    cursor: pointer;
    justify-content: center;
}


.correto{
    width: 27px;
    cursor: pointer;
    height: 25px;
    &.hide{
        display: none;
    }
}

.cor{
    width: 50%;
    display: flex;
    height: 30px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

/*Delete card*/
.del_body{
    width: 100%;
    height: 290px;
    display: none;
    &.show{
        display: flex;
    }
}
.del_button{
    background: #2b2c2b;
    border: 1px solid #2b2c2b;
    color: white;
    border-radius: 5px;
}
.logo_del{
    position: absolute;
    width: 130px;
    right: 10px;
    margin-top: 15px;
    display: flex;
    margin-right: 70px;
    top: 10px;
}
.titulo_del{
    color: #3a5099;
    margin-top: 100px;
    font-size: 20px;
}
.subtitulo_del{
    color: #3a5099;
    font-size: 17px;
    margin-top: 90px;
    position: absolute;

}

.fim_esc_del{
    display: inline-flex;
    width: 290px;
    height: 30px;
    background: #2c2b2c;
    position: absolute;
    margin-top: 100%;
}
.tex_del{
    width: 290px;
    height: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    &.hide{
        display: none;
    }
}
.tex_del2{
    width: 290px;
    height: 290px;
    display: none;
    justify-content: center;
    align-items: center;
    &.show{
        display: flex;
    }
}
.incorreto_del{
    width: 22px;
    cursor: pointer;
    height: 25px;
    margin-top: 2px;
    &.hide{
        display: none;
    }
}
.correto_del{
    width: 27px;
    height: 25px;
    &.hide{
        display: none;
    }
}

#delet h6{
    font-size: 12px;
    opacity: 0.7;

}
//////
.nrml_body{
    display:block;
    &.hide{
        display:none;
    }
}
/////EDIT CARD
.edit_body{
    display: none;
    &.show{
        display: block;
    }
}

.desc_body{
    display: none;
    &.show{
      display: block;}
}
  
.desc{
    margin-top: 30px;
    height: 210px;
    width: 245px;
    max-height: 210px;
    position: absolute;
    resize: vertical;
    left:20px;
    border: 0;
    background: transparent;
    resize:none
}

.edit-desc{
    margin-top: 215px;
    height: 210px;
    width: 245px;
    max-height: 210px;
    position: absolute;
    resize: none;
    left: 0;
    outline: none;
}
      
.logo_desc{
    width: 50px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.titulo_desc{
    display: block;
    width: 210px;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 20px;
}
.caixa_texto{
    margin-top: 70px;
    margin-left: 10px;
  }

.desc_text {
    font-size: 15px;
    width: 270px;
    height: 180px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.desc::-webkit-scrollbar {
    width: 5px;
}
.edit-desc::-webkit-scrollbar {
    width: 5px;
}
.edit-desc::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
   
.edit-desc::-webkit-scrollbar-thumb {
    background: #2c2b2c; 
    border-radius: 10px;
}
  
.desc::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
   
.desc::-webkit-scrollbar-thumb {
    background: #2c2b2c; 
    border-radius: 10px;
}

.text_edit{
    position: absolute;
    font-size: 13px;
    bottom: -40px;
    cursor: pointer;
}
.text_edit2{
    font-size: 13px;
    position: absolute;
    margin-top: 125px;
    cursor: pointer;
  }



.fim_esc_desc{
    position: absolute;
    bottom: 0;
    background: #2c2b2c;
    width: 290px;
    display: flex;
    align-items: center;
    height: 30px;
}

.desc_fechar{
    width: 22px;
    height: 25px;
    cursor: pointer;
}

.fechar{
    width: 100%;
    display: flex;
    justify-content: center;
    
  }

.logo_card_edit{
    position: absolute;
    width: 40px;
    right: 10px;
    margin-top: 15px;
}

#att_button, #att_buttonn, #doc_button, #doc_buttonn, #ins_button, #ins_buttonn{
    background: #2b2c2b;
    border: 1px solid #2b2c2b;
    color: white;
    border-radius: 5px;
}


/*Documentos*/
.borda {
    border: 1px solid #000;
    height: 75px;
    width: 270px; 
}
  
.borda:hover {
    transition: 0.5s 0.25s cubic-bezier(0.17, 0.67, 0.5, 1.03); 
}
.borda a, .borda h6{
    position: absolute;
    max-width: 180px;
    width: 180px;
}
.borda small{
    position: absolute;
    margin-top: 40px;
}

  
.item-doc{
    background-color: #fff;
    padding-left: 1%;
    padding-top: 0.5%;
    margin-top: 3%;
    margin-right: 3%;
    margin-left: 3%;
    margin-bottom: 2%;
    box-shadow: 1px 2px 8px #000;
    cursor: pointer; 
}
  
a:link {
    text-decoration: none; 
}
  
.iconee img {
    height: auto;
    width: 50px;
    margin-top: 10px;
    margin-left: 30px;
}
  
.iconee {
    bottom: 5px;
    margin-left: 160px;
    position: absolute;
    height: 100%;
    width: 75px; 
}
  
.stretch {
    align-items: stretch; 
}
  
.p1 {
    height: 25%; 
}

.doc_excluir{
    width: 24px;
    margin-left: 91%;
    height: 0px;
    margin-top: -2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 0px 0px 15px;
}
.doc_excluir_img{
    width: 0px;
    height: auto;
}

.hsdoc{
    width: 25px;
    height: 24px;
    background: transparent;
    margin-left: 232px;
    margin-top: -22px;
    position: absolute;
    border-radius: 0px 0px 0px 15px;
}
.item-doc:hover .doc_excluir{
    transition: 0.2s ease all;
    height: 23px;
}
.item-doc:hover .doc_excluir_img{
    transition: 0.2s ease all;
    width: 10px;
}


  

input[type="text"]:focus {
    box-shadow: 0 0 #2b2c2b;
    
}

input[id="pesquisa-esquerda"],input[id="pesquisa-direita"]::placeholder {  
                  
    /* Firefox, Chrome, Opera */ 
    text-align: center; 
} 
//////////

/*upload de imagem do formulario*/
   .uploader {
    display: flex;
    clear: both;
    width: 100%;
    max-width: 90%;
  }
  .uploader label {
    float: left;
    clear: both;
    width: 100%;
    padding: 2rem 1.5rem;
    text-align: center;
    background: #fff;
    border-radius: 7px;
    border: 3px solid #eee;
    transition: all .2s ease;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    max-height: 190px;
  }
  .uploader label:hover {
    border-color: #2c2b2c;
  }
  .uploader label.hover {
    border: 3px solid #2c2b2c;
    box-shadow: inset 0 0 0 6px #eee;
  }
  .uploader label.hover #start i.fa {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0.3;
  }
  .uploader #start {
    float: left;
    clear: both;
    width: 100%;
  }
  .uploader #start.hidden {
    display: none;
  }
  .uploader #start i.fa {
    font-size: 35px;
    margin-bottom: 1rem;
    transition: all .2s ease-in-out;
  }
  .uploader #response {
    float: left;
    clear: both;
    width: 100%;
  }
  .uploader #response.hidden {
    display: none;
  }
  .uploader #response #messages {
    margin-bottom: .5rem;
  }
  .uploader #file-image {
    display: inline;
    margin: 0 auto .5rem auto;
    max-width: 85px;
  }
  .uploader #file-image.hidden {
    display: none;
  }
  .uploader #notimage {
    display: block;
    float: left;
    clear: both;
    width: 100%;
  }
  .uploader #notimage.hidden {
    display: none;
  }
  .uploader progress,
  .uploader .progress {
    display: inline;
    clear: both;
    margin: 0 auto;
    max-width: 180px;
    border: 0;
    border-radius: 4px;
    background-color: #eee;
    overflow: hidden;
  }
  .uploader .progress[value]::-webkit-progress-bar {
    border-radius: 4px;
    background-color: #eee;
  }
  .uploader .progress[value]::-webkit-progress-value {
    background: linear-gradient(to right, #2c2b2c 0%, #2c2b2c 50%);
    border-radius: 4px;
  }
  .uploader .progress[value]::-moz-progress-bar {
    background: linear-gradient(to right, #2c2b2c 0%, #2c2b2c 50%);
    border-radius: 4px;
  }
  .uploader input[type="file"] {
    display: none;
  }
  .uploader div {
    margin: 0 0 .5rem 0;
    color: #5f6982;
    font-size: 15px;
  }
  .uploader .btn {
    display: inline-block;
    margin: .5rem .5rem 1rem .5rem;
    clear: both;
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
    text-transform: initial;
    border: none;
    border-radius: .2rem;
    outline: none;
    padding: 0 1rem;
    height: 36px;
    line-height: 36px;
    color: #fff;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
    background: #2c2b2c;
    border-color: #2c2b2c;
    cursor: pointer;
  }

  .btn-primary:hover{
      background-color: #2c2b2c !important;
      border-color: #2c2b2c !important;
      color: #fff;
      opacity: 0.9;
  }
  /*fim upload*/
  /*auto complete*/
  .autocomplete {
    position: relative;
    display: inline-block;
  }
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  .autocomplete-active {
    background-color: #d4d4d4 !important; 
    color: #2c2b2c; 
  }
///////////////////
.loader{
    height: 24px;
    width: 20px;
    text-align: center;
    margin: 0 auto 1em;
    display: none;
    vertical-align: top;
    margin-top: 2px;
    margin-left: 5px;
    top: 293px;
    &.show{
        display: inline-block;
    }
    &.showcard{
        display: inline-block;
        position: absolute;
        left:130px;
    }
  }
svg path,
svg rect{
  fill: #fff;
}
.procurar{
    margin-left: 0;
}
    
.centro_tela{
    width: 10px;
    height: 10px;
    position: absolute;
    top: 90vh;
}



.card-animation{
    animation: animationFrames linear 1s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    -webkit-animation: animationFrames linear 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: animationFrames linear 1s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -o-animation: animationFrames linear 1s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -ms-animation: animationFrames linear 1s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
  }
  
  @keyframes animationFrames{
    0% {
        transform: translate(0px,0px);
    }
    10% {
        transform: translate(24px,0px);
    }
    20% {
        transform: translate(6px,0px);
    }
    30% {
        transform: translate(-6px,0px);
    }
    40% {
        transform: translate(6px,0px);
    }
    50% {
        transform: translate(-6px,0px);
    }
    60% {
        transform: translate(6px,0px);
    }
    70% {
        transform: translate(-6px,0px);
    }
    80% {
        transform: translate(6px,0px);
    }
    90% {
        transform: translate(-6px,0px);
    }
    100% {
        transform: translate(0px,0px);
    }
  }
  
  @-moz-keyframes animationFrames{
    0% {
        -moz-transform: translate(0px,0px);
    }
    10% {
        -moz-transform: translate(24px,0px);
    }
    20% {
        -moz-transform: translate(6px,0px);
    }
    30% {
        -moz-transform: translate(-6px,0px);
    }
    40% {
        -moz-transform: translate(6px,0px);
    }
    50% {
        -moz-transform: translate(-6px,0px);
    }
    60% {
        -moz-transform: translate(6px,0px);
    }
    70% {
        -moz-transform: translate(-6px,0px);
    }
    80% {
        -moz-transform: translate(6px,0px);
    }
    90% {
        -moz-transform: translate(-6px,0px);
    }
    100% {
        -moz-transform: translate(0px,0px);
    }
  }
  
  @-webkit-keyframes animationFrames {
    0% {
        -webkit-transform: translate(0px,0px);
    }
    10% {
        -webkit-transform: translate(24px,0px);
    }
    20% {
        -webkit-transform: translate(6px,0px);
    }
    30% {
        -webkit-transform: translate(-6px,0px);
    }
    40% {
        -webkit-transform: translate(6px,0px);
    }
    50% {
        -webkit-transform: translate(-6px,0px);
    }
    60% {
        -webkit-transform: translate(6px,0px);
    }
    70% {
        -webkit-transform: translate(-6px,0px);
    }
    80% {
        -webkit-transform: translate(6px,0px);
    }
    90% {
        -webkit-transform: translate(-6px,0px);
    }
    100% {
        -webkit-transform: translate(0px,0px);
    }
  }
  
  @-o-keyframes animationFrames {
    0% {
        -o-transform: translate(0px,0px);
    }
    10% {
        -o-transform: translate(24px,0px);
    }
    20% {
        -o-transform: translate(6px,0px);
    }
    30% {
        -o-transform: translate(-6px,0px);
    }
    40% {
        -o-transform: translate(6px,0px);
    }
    50% {
        -o-transform: translate(-6px,0px);
    }
    60% {
        -o-transform: translate(6px,0px);
    }
    70% {
        -o-transform: translate(-6px,0px);
    }
    80% {
        -o-transform: translate(6px,0px);
    }
    90% {
        -o-transform: translate(-6px,0px);
    }
    100% {
        -o-transform: translate(0px,0px);
    }
  }
  
  @-ms-keyframes animationFrames {
    0% {
        -ms-transform: translate(0px,0px);
    }
    10% {
        -ms-transform: translate(24px,0px);
    }
    20% {
        -ms-transform: translate(6px,0px);
    }
    30% {
        -ms-transform: translate(-6px,0px);
    }
    40% {
        -ms-transform: translate(6px,0px);
    }
    50% {
        -ms-transform: translate(-6px,0px);
    }
    60% {
        -ms-transform: translate(6px,0px);
    }
    70% {
        -ms-transform: translate(-6px,0px);
    }
    80% {
        -ms-transform: translate(6px,0px);
    }
    90% {
        -ms-transform: translate(-6px,0px);
    }
    100% {
        -ms-transform: translate(0px,0px);
    }
  }

/* Large devices (desktops, 1000px and down) */
@media (max-width: 1000px) {
    .input-group {
        height: 45px;
    }
    
    .botao-form {
        font-size: 17px;
    }
    #total-p, #total-d{
        display: none !important;
    }
    .mark-r{
        display: unset !important;
    }
    #p-esquerda{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .p-insercao{
        color:#fff;
        font-size: 2.5em;
        margin-top: 30px;
        width: 100%;
        height: 27px;
        margin-bottom: 20px;
    }
    #grupo-direita {
        margin-left: calc(50% - 180px); }
        
    .pai{
        overflow: hidden;
    }
    //Lado esquerdo

    .esquerda{
        width: 100%;
        height: 50vh;
        background-color: #2c2b2c;
        position: absolute;
        top: 4;
        display: flex;
    }

    #esquerda-res{
        background-color: #2c2b2c;
        width: 100vw;
        height: 100vh;
    }

    .p-projetos {
        position: absolute;
        justify-content: center;
        width: 50%; 
        margin: auto;
        display: flex;
        align-items: flex-end;

        &.cheio{
        width: 100%; 
        margin-top:calc(25vh - 65px);
        }
    }

    .p-projetos h1{
        display: flex;
        margin-top:calc(15vh - 65px);
    }


    .imagem-esquerda{
        background: url(../imagens/tela-inicial/imagem-esquerda.png) no-repeat;
        width: 95%;
        height: 50vh;
        background-position: bottom;
        background-size: 440px;
        display: flex;
        position: absolute;
        &.cheio{
            width: 100%;
            height: 100vh;
            background-position: right bottom;
            background-size: 60%;
            cursor: default;
            display: none;
            margin-left: 2vw;
        }
    }
    #grupo-esquerda{
        width: 360px;
        margin-left: 0px;
    }
    #grupo-direita {
      width: 360px;
    }

    #botao-esquerda{
        position: absolute;
        width: 10%;
        border: 0;
        top: 1vh;
        right: 0; 
        cursor: pointer;
    }



    //Lado Direito
    .direita{
        width: 100%;
        height: 50vh;
        background-color: #fff;
        position: absolute;
        bottom: 0;
        margin-left: auto;
    }

    .imagem-direita{
        width: 95%;
        height: 50vh;
        display: flex;
        background-size: 400px;
        background-position: bottom;
        &.cheio{
            background: url(../imagens/tela-inicial/imagem-direita.png) no-repeat;
            width: 100%;
            height: 100vh;
            background-position: right bottom;
            background-size: 60%;
            cursor: default;
            display: none;
        }
    }

    .p-documentos{
        display: flex;
        width: 100%;
        position: absolute;
        &.cheio{
            margin-top:calc(25vh - 65px);
            right: auto;
            justify-content: center;
        }
    }
    
    
    .p-documentos h1{
        font-size: 60px;
        color:#2c2b2c;
        margin-top:calc(10vh - 65px);
    }

    .figura {
        margin-top: calc(5% + 10px);
        width: auto;
        height: 5vh; 
        &.change-preto{
            width: 10vw;
            height: auto;
            margin: 0;
            margin-top: 5vh;
        }
        &.change-branco{
            width: 10vw;
            height: auto;
            margin: 0;
            margin-top: 5vh;
        }
    }
    ///menu
    .hamburguer{
        position: fixed;
        top: 5%;
        right: 3%;
        height: 27px;
        width: 35px;
        cursor: pointer;
        z-index: 100;
        transition: opacity .25s ease; 
    }
    .hamburguer span {
        background: #fff;
        border: none;
        height: 5px;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: all .35s ease;
        cursor: pointer; 
    }


        //insercao
        #container-tela4{
            height: 100vh;
            width: 100vw;
            background-color: #fff;
            z-index: 4;
            position: absolute;
        }
        .linha-tela4{
            width: 100%;
            margin-left: 0!important;
            margin-right: 0!important;
        }
        .insercao-esquerda{
            background-color: #2c2b2c;
            height: 145px;
            width: 100%;
        }
    
    
        .box-esquerda{
            color: #fff;
        }
        
        #total-p{
            height: 15vh;
            width: 55vw;
            display: flex;
            justify-content: center;
            align-items: center;
        
        }
        #total-p h1{
            font-size: 100px;
        }
        
        .box-direita{
            color: #fff;
            border-left: 1px solid #fff;
        }
        
        #total-d{
            height: 15vh;
            width: 55vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #total-d h1{
            font-size: 100px;
        }
        .insercao-direita{
            width: 100%;
            height: calc(100vh - 145px);
        }
    
        #form-insercao{
            margin-top: 15%;
            margin-left: 10%;
        }
        .ajuste{
            margin-right: 0!important;
        }
        #titulo{
            width: 90%;
            margin-bottom: 20px;
            box-shadow: none;
        }
    
        #subtitulo{
            width:90%;
            margin-bottom: 20px;
        }
    
        #data{
            width: 50%;
            margin-bottom: 20px;
        }
    
        #endereco{
            width: 90%;
            margin-bottom: 20px;
        }
    
        #descricao{
            width: 90%;
            margin-bottom: 20px;
        }

        .botao-form{
            width: 120px;
            height: 30px;
            background: #2b2c2b;
            border: 0;
        }
    
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1350px) { 
    //esquerda

    .p-projetos h1{
        font-size: 70px;
    }

    .imagem-esquerda{
        background-size: 740px;
        
    }
    //direita

    .p-documentos h1{
        font-size: 70px;
    }

    .imagem-direita{
        background-size: 710px;
    }

  .tela3{
    height: 100%;
    width: 100vw;
  }

}

@media (min-width: 1800px) { 

    .figura{
        &.change-preto{
            width: 4vw;
            margin: 45px;
        }
        &.change-branco{
            width: 4vw;
            margin: 45px;
        }
    }

    //esquerda
    .p-projetos h1{
        font-size: 90px;
    }

    .imagem-esquerda{
        background-size: 1000px;
        margin-left: 7%;
    }
    //direita

    .p-documentos h1{
        font-size: 90px;
    }

    .imagem-direita{
        background-size: 1000px;
    }
}
@media (max-width: 1240px) {
    #p-direita h1{
        font-size: 2.5rem;
    }
    #p-esquerda h1{
        font-size: 2.5rem;
    }
}
@media (max-width: 550px){  
    .figura{
        margin-top: 25px;
    }
    #p-esquerda h1 {
        font-size: 1.5rem;
    }
    #p-direita h1 {
        font-size: 1.5rem;
    }
    .insercao-esquerda {
        height: 130px;
    }
    .insercao-direita {
        height: calc(100vh - 130px);
    }
}
@media (max-width: 630px){  
    #submit {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 380px) { 
    .insercao-direita {
        height: calc(100vh - 120px);
    }
    .mark-r {
        margin-top: -8px;
        margin-right: 5px;
    }
    .txt-box{
        width: 280px;
        margin-left: 25px;
    }
    .autocomplete-items {
        width: 280px;
        margin-left: 25px;
    }
    .p-documentos h1 {
        font-size: 40px;
    }
    .p-projetos h1 {
        font-size: 40px;
    }
    .p-insercao {
        font-size: 2.0em;
    }
    #p-direita h1 {
        font-size: 1.3rem !important;
    }
    #p-esquerda h1 {
        font-size: 1.3rem !important;
    }
    .insercao-esquerda {
        height: 120px !important;
    }
    .t-doc {
        margin-left: 52%;
    }
    #grupo-direita {
        width: 320px;
        margin-left: 0px;
    }
}

@media (max-width: 1200px) { 
    .navegation{
        position: fixed;
        margin-left: 300vw;
    }
}

@media (max-width: 1200px) { 
    .navegation{
        position: fixed;
        margin-left: 300vw;
    }
    .slide {
        margin-top: 200px;
    }
    article.carta {
        top: 0px;
    }
    .slide {
        height: 50%;
        margin-bottom: 500px;
    }
}
@media (max-width: 879px) { 
    .slide_doc{
        height: 100%;
    }
}
@media (max-width: 546px) { 
    .slide_doc{
        height: 100%;
    }
}

  @media (min-width: 1200px){
    .slide {
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .slide2 {
        overflow-x: hidden;
        overflow-y: scroll;
    }
  }